.container {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(170, 175, 180, 1), rgba(120, 125, 130, 1));
}

.useritem {
    /* width: 300px; */
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(10, 15, 20, 0.6);
    font-family: 'Afacad Flux';
    font-size: 16;
    padding: '12px 24px 32px 24px';
    color: rgba(255, 255, 255, 0.5);
    /* border-right: 1.5px solid rgba(255, 255, 255, 0.2); */
}
