.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.maincontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: blue;
}

.main {
    display: flex;
    flex: 1;
}

.side {
    display: flex;
    flex: 0;
    width: 64px;
    min-width: 64px;
    transition: 0.3s ease all;
}

.sideopen {
    width: 128px;
    min-width: 128px;
}

.header,
.footer {
}

.footer {
    display: flex;
    flex: 0;
    height: 128px;
    min-height: 128px;
    transition: 0.3s ease all;
}
.footeropen {
    height: 256px;
    min-height: 256px;
}
