.layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.maincontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: blue;
}

.main {
    flex: 1;
}

.side {
    flex: 0;
    width: 64px;
    min-width: 64px;
    background: green;
}

.header,
.footer {
    flex: 0;
    height: 64px;
    min-height: 64px;
    background: purple;
}

.footer {
    height: 128px;
    min-height: 128px;
    background: darkseagreen;
}
