.container {
    position: relative;
}

.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; /* FF */
}

.content {
    /* background: rgba(0, 50, 0, 0.2); */
}

.scrollcontent {
    /* background: rgba(50, 0, 0, 0.2); */
    flex-grow: 1;
    overflow: auto;
    min-height: 0; /* FF */
}

.testpart123 {
}

.testpart123testcontent {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 200px;
    background: linear-gradient(rgba(10, 15, 20, 0.6), rgba(20, 25, 30, 0.7));
}
